.footer{
    @media screen and (orientation: portrait) {
        background-color: #f7d7b5;
      }
    @include padding-side;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    align-items: center;
    display: flex;
    &__logo{
        width: 50%;
        @media screen and (orientation:portrait){
         width: 100%;
        }
        
        img{
            width: 100%;
        }
        
    }

    &__side{
        @media screen and (orientation:portrait){
            display: none;
        }
        width: 50%;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        &__items{
            
            cursor: pointer;
            margin:0 2vw;
            justify-content:space-between;
        }
        &__items:hover{
            font-weight: 600;
        }
    }

    
}