.footer{
    @media screen and (orientation:portrait){
        display: none;
    }
    @include padding-side;
    margin-top:2vh;
    padding-bottom: 5vh;
    align-items: center;
    display: flex;
    &__logo{
        width: 50%;
        
        img{
            width: 100%;
        }
        background-color: red($color: #000000);
    }

    &__side{
        width: 50%;
        justify-content: flex-end;
        display: flex;
        &__items{
            cursor: pointer;
            margin:0 2vw;
            justify-content:space-between;
        }
    }
}