@import "templates";

.home {
  background-color: #fcf0e3;

  &__section {
    @include padding-side;
    padding-top: 15vh;
    padding-bottom: 10vh;
    @media screen and (orientation: portrait) {
      padding-top: 15vh;
      padding-bottom: 2vh;
      flex-direction: column-reverse;
    }
    display: flex;
    // flex-wrap: wrap;

    &--left {
      flex-basis: 35%;
      @media screen and (orientation: portrait) {
        padding-top: 5vh;
        flex-basis: 80vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 3.7rem;
        }
      }
      p {
        padding-top: 5vh;
        width: 70%;
        @media screen and (orientation: portrait) {
          width: 100%;
          padding-top: 2vh;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }

      &__shortcut {
        padding-top: 8vh;
        position: relative;
        left: 7vw;
        @media screen and (orientation: portrait) {
          text-align: center;
          left: 0;
        }
        cursor: pointer;
      }
    }
    &--right {
      flex-basis: 65%;

      img {
        width: 100%;
      }
    }
  }

  &__service {
    @include padding-side;
    background: white;
    display: flex;

    flex-direction: column;
    &--top {
      padding-top: 15vh;
      @media screen and (orientation: portrait) {
        flex-direction: column;
        text-align: center;
        padding-top: 7vh;
      }
      display: flex;
      &__title {
        flex-basis: 30%;
      }
      &__text {
        flex-basis: 50%;
      }
    }
    &--bottom {
      padding-top: 5vh;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      @media screen and (orientation: portrait) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__items {
        flex-basis: 25%;
        p {
          text-align: center;
          font-size: 2rem;
          @media screen and (orientation: portrait) {
            padding-bottom: 2vh;
          }
        }
      }
    }

    &__button {
      margin: 10vh 0 0 80%;
      @media screen and (orientation: portrait) {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
  &__partnership {
    padding-top: 15vh;
    padding-bottom: 10vh;
    @media screen and (orientation: portrait) {
      padding-top: 12vh !important;
      padding-bottom: 25vh;
    }
    display: flex;
    &--left {
      width: 35vw;
      padding-right: 5vw;
      @media screen and (orientation: portrait) {
        width: 80vw;
      }
    }

    &--right {
      width: 65vw;
      padding-top: 5vh;
    }

    @include mobile-collumnizer;

    img {
      width: 100%;
    }
  }

  &__contact {
    @include padding-side;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row-reverse;
    @include mobile-collumnizer;

    @media screen and (orientation: portrait) {
      padding-top: 15vh !important;
      padding-bottom: 15vh;
    }

    &--left {
      width: 40%;
      padding-right: 10%;
      @media screen and (orientation: portrait) {
        width: 35vw;
        padding-right: 0;
      }
      img {
        width: 100%;
      }
    }

    &--right {
      width: 60%;
      @media screen and (orientation: portrait) {
        width: 80vw;
      }
      padding: 0 10vw 0 5vw;
      p {
        padding-bottom: 5vh;
      }
    }
  }

  &__backtop {
    display: none;
    width: 10vh;
    // box-shadow: 10px 10px 10px black;
    transform: rotate(180deg);
    position: fixed;
    bottom: 10vh;
    right: 2vw;
    img {
      width: 100%;
    }
    
  }
}
