* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 1.4vw;
}

@media only screen and (max-width: 1024px) {
  :root {
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 786px) {
  :root {
    font-size: 1.75vw;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    font-size: 2.75vw;
  }
}

html {
  scroll-behavior: smooth;
  background: #fcf0e3;
}

body {
  width: 100%;
  height: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.title-default {
  font-weight: 500;
  font-size: 3.5rem;
}

.text-default {
  line-height: 2rem;
  font-size: 1.2rem;
  padding-top: 5vh;
}

@media screen and (orientation: portrait) {
  .text-default {
    padding-top: 2vh;
  }
}

.button-default {
  border: 2px solid black;
  text-align: center;
  width: 12vw;
  padding: 2.5vh 1.5vw;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .button-default {
    display: none;
  }
}

.navbar {
  padding-left: 5vw;
}

@media screen and (orientation: portrait) {
  .navbar {
    background-color: #f7d7b5;
  }
}

@media screen and (orientation: landscape) {
  .navbar {
    position: static;
  }
}

.navbar-nav {
  padding-left: 15vw;
}

@media screen and (orientation: portrait) {
  .navbar-nav {
    padding-left: 0;
  }
}

@media screen and (orientation: portrait) {
  .nav-link {
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.2px double;
  }
}

.navbar-brand {
  width: 50%;
}

.logo-image {
  width: 30%;
}

@media screen and (orientation: portrait) {
  .logo-image {
    width: 100%;
  }
}

.home {
  background-color: #fcf0e3;
}

.home__section {
  padding: 0 5vw;
  padding-top: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__section--left {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  padding-top: 5vh;
}

.home__section--left p {
  padding-top: 5vh;
  width: 50%;
}

.home__section--right {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.home__section--right img {
  width: 90%;
}

.home__section--bottom {
  width: 25%;
  position: relative;
  bottom: 22.5vw;
}

@media screen and (orientation: portrait) {
  .home__section--bottom {
    width: 100%;
    bottom: 0;
    padding-bottom: 5vh;
  }
}

.home__service {
  padding: 0 5vw;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__service--top {
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (orientation: portrait) {
  .home__service--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 3vh;
  }
}

.home__service--top__title {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.home__service--top__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.home__service--bottom {
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (orientation: portrait) {
  .home__service--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home__service--bottom__items {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.home__service--bottom__items p {
  text-align: center;
}

@media screen and (orientation: portrait) {
  .home__service--bottom__items p {
    padding-bottom: 2vh;
  }
}

.home__service__button {
  margin: 10vh 0 0 80%;
}

@media screen and (orientation: portrait) {
  .home__service__button {
    width: 60%;
    margin: 0 auto;
  }
}

.home__partnership {
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__partnership--left {
  width: 35vw;
  padding-right: 5vw;
}

@media screen and (orientation: portrait) {
  .home__partnership--left {
    width: 80vw;
  }
}

.home__partnership--right {
  width: 65vw;
  padding-top: 5vh;
}

@media screen and (orientation: portrait) {
  .home__partnership {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3vh;
  }
}

.home__partnership img {
  width: 100%;
}

.home__contact {
  padding: 0 5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (orientation: portrait) {
  .home__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3vh;
  }
}

.home__contact--left {
  width: 40%;
  padding-right: 10%;
}

@media screen and (orientation: portrait) {
  .home__contact--left {
    width: 35vw;
    padding-right: 0;
  }
}

.home__contact--left img {
  width: 100%;
}

.home__contact--right {
  width: 60%;
  padding: 0 10vw 0 5vw;
}

@media screen and (orientation: portrait) {
  .home__contact--right {
    width: 80vw;
  }
}

.home__contact--right p {
  padding-bottom: 5vh;
}

.footer {
  padding: 0 5vw;
  margin-top: 2vh;
  padding-bottom: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 50%;
  background-color: 0;
}

@media screen and (orientation: portrait) {
  .footer__logo {
    width: 100%;
  }
}

.footer__logo img {
  width: 100%;
}

.footer__side {
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (orientation: portrait) {
  .footer__side {
    display: none;
  }
}

.footer__side__items {
  cursor: pointer;
  margin: 0 2vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  padding: 0 5vw;
  background-color: #f3c6bd;
}

.about__top-image {
  width: 105%;
}

.about__top-image img {
  width: 100%;
}

.about__about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=index.css.map */